@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Old+Uyghur&family=Poppins:ital,wght@1,300;1,500&display=swap");/*burada google fontsda bize verilen link halindeki yazı tıipleirini import olarakda kaydedip harici css de kayıtlı tutabiliriz bu şekilde de çalıştırabiliriz*/

div#yazi2 p {
  font-family: "Poppins", sans-serif; /*yukarıda linkini verdiğim yazı tiplerinin yine google fontda alt kısımda font family kodunu kopyaladım buraya yapıştırdım yazı tipi en büyüklüğünü en fazla seçtiğim fontlardaki yazı tipi büyüklüğünü girebilirim mesela seçtiğim yazı tipi büyüklüğü 500 dü en fazla 500 diyebilirim */
  font-weight: 500;
  font-size: 30px;
  font-style: italic;
}
div#yazi1 p {
  font-family: "Noto Serif Old Uyghur", serif;
}